<?xml version="1.0"?>
<launch>

  <arg name="gui" default="true" />
  <arg name="model" default="$(find car_model)/urdf/robot.urdf"/>
  <rosparam param="robot_description" command="load" file="$(arg model)" />

  <param name="use_gui" value="$(arg gui)"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> 
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

</launch>
